<ion-list *ngIf="this.owner">
  <ion-item button (click)='this.showInfo()'>{{'POPOVER.info' | translate }}</ion-item>
  <ion-item button (click)='this.showChangeTitle()'>{{'POPOVER.change_title' | translate }}</ion-item>
  <ion-item button (click)='this.showShareNote()'>{{'POPOVER.share' | translate }}</ion-item>
  <div *ngIf="this.isShared">
    <ion-item button (click)="this.showUnShareNoteTo()">{{'POPOVER.unshare_to' | translate }}</ion-item>
    <ion-item button (click)="this.unShareNoteAll()">{{'POPOVER.unshare_all' | translate }}</ion-item>
  </div>
</ion-list>

<ion-list *ngIf="!this.owner">
  <ion-item button (click)='this.showInfo()'>{{'POPOVER.info' | translate }}</ion-item>
  <ion-item button (click)='this.showShareNote()'>{{'POPOVER.share' | translate }}</ion-item>
  <div *ngIf="this.isShared">
    <ion-item button (click)='this.unShareNote(this.user.name,false)'>{{'POPOVER.unshare' | translate }}</ion-item>
  </div>
</ion-list>