<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'TAB1.title' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="this.cargaDatos($event,true)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h2 style= "text-align: center;padding-top: 5%;" *ngIf="this.flag">{{'TAB1.no_notes' | translate}}</h2>
  <ion-list *ngIf="!this.flag">
    <ion-searchbar placeholder="{{'TAB1.search' | translate}}" (ionChange)="this.filterList($event)"> </ion-searchbar>


    
    <ion-item-sliding *ngFor="let nota of this.listaNotasCopy;let i=index">
      <ion-item-options side="start" (ionSwipe)="this.muestraBorraNota(nota.id)">
        <ion-item-option color="danger" expandable (click)="this.muestraBorraNota(nota.id)">
          <ion-icon name="trash" style="font-size: x-large;"></ion-icon>
        </ion-item-option>
      </ion-item-options>


      <ion-item (click)="this.editaNota(nota)">
        <ion-label>
          <h2>{{nota.title}}</h2>
          <p>{{'TAB1.last_time' | translate}} {{this.timeSince(this.nota.date)}}</p>
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>


      <ion-item-options side="end">
        
        <ion-item-option color="primary" (click)="this.editaNota(nota)">
          <ion-icon name="pencil" style="font-size: x-large;"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" (click)="this.addNote()">
      <ion-icon name="add-outline" class="icon-button inner-center-btn"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll #infiniteScroll threshold="100px" (ionInfinite)="this.cargaDatos($event,false)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'TAB1.loading' | translate}}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>