<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Usuario: {{this.user.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>Modo noche</ion-label>
      <ion-toggle slot="end" [ngModel]="darkMode" (ionChange)="change($event)"></ion-toggle>
    </ion-item>
    
    
  </ion-list>
  <ion-item>
    <ion-label>{{'PROFILE.language' | translate}}</ion-label>
    <ion-select placeholder="{{'PROFILE.language2' | translate}}" [(ngModel)]="lang" (ionChange)="switchLanguage($event)" interface="action-sheet">
      <ion-select-option value="es">Español</ion-select-option>
      <ion-select-option value="en">English</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="logout">
    <ion-button shape="round" (click)="this.logout()" color="primary">Cerrar sesión</ion-button>
  </div>
</ion-content>