<ion-header>
  <ion-toolbar>
    <ion-title>Notea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="tasks" (ngSubmit)="this.login()">
    <ion-item>
      <ion-label position="floating">{{'LOGIN.email' | translate}}</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">{{'LOGIN.password' | translate}}</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
  
    <ion-button type="submit" expand="full" color="primary" [disabled]="!tasks.valid">{{'LOGIN.login' | translate}}</ion-button>
  </form>
  <p style="text-align: center;">{{'LOGIN.no_account' | translate}}</p>
  <ion-button expand="full" color="danger" (click)="registerModal()">{{'LOGIN.register' | translate}}</ion-button>
</ion-content>
