<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'REGISTER.register' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div class="content">
    <form [formGroup]="tasks" (ngSubmit)="this.register()">
      <ion-item>
        <ion-label position="floating">{{'REGISTER.email' | translate}}</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{'REGISTER.password' | translate}}</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-button type="submit" expand="full" color="danger" [disabled]="!tasks.valid">{{'REGISTER.register' | translate}}</ion-button>
    </form>
  </div>
</ion-content>