<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="this.dismissModal()"></ion-back-button>
      
        </ion-buttons>
    <ion-title>{{this.nota.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="locate-outline" (click)="this.askLocation()"></ion-icon>
      <ion-button (click)="this.presentPopover()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="tasks" (ngSubmit)="this.saveNote()">
    <ion-item>
      <ion-textarea formControlName="description" placeholder="Escribe aquí..." autocapitalize="true" auto-grow="true">
      </ion-textarea>
    </ion-item>
    <div style="text-align: right;">
      <ion-button shape="round" color="primary" type="submit" [disabled]="!tasks.valid">Guardar</ion-button>
    </div>
  </form>
    <h4>Ubicación del guardado de la nota</h4>
    <p *ngIf="!this.showMap">No se guardó la ubicación de la nota</p>
    <div id="mapa" style="height: 200px;">
    </div>

</ion-content>